body {
  background: black;
}
img {
  max-height: 150px;
  max-width: 150px;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #F9C546;
  color: #ffffff;
}
main{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.btn{
  margin-top: 10vh;
  height: 400px;
  width: 400px;
  border-radius: 80px;
  background: #F9C546;
  border: solid black;
  font-size: 40pt;
  font-weight: 800;
}
footer{
  margin-top: 100px;
  text-align: center;
  padding: 5vh;
  color: #fff;
  border-top: 2px solid #F9C546;
}

